.game-board {
  width: 70%;
  margin: 50px auto 0;
  background-image: url('./../public/images/wood-texture.png');
  background-size: cover;
  background-position: center;
  border: 4px solid #411f11;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.big-pit-container {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #492314;
  border-radius: 50% / 25%;
  &.player1-big-pit {
    order: 1;
  }

  &.player2-big-pit {
    order: 0;
  }

  .pit {
    width: 100px;
    height: 200px;
    background-color: #c19a6b;
    border-radius: 50% / 25%;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 50% / 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.small-pits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* Space between rows */
  width: 60%; /* Adjust width as needed to balance layout */
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .pit {
    width: 70px;
    height: 70px;
    background-color: #c19a6b;
    border-radius: 50%;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #492314;

    &.clickable {
      cursor: pointer;
      background-color: #c19a6b;
      &:hover {
        background-color: #e0b981;
      }
    }

    &:not(.clickable) {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.player-info {
  background-color: #c19a6b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  border: 2px solid #492314;

  .player-score {
    margin-bottom: 15px;
    font-size: 18px;
    color: #411f11;

    .player-name {
      font-weight: bold;
      color: #411f11;
    }

    .score {
      font-weight: bold;
      color: #65311c;
    }
  }

  .current-player {
    margin-bottom: 20px;
    font-size: 20px;
    color: #411f11;

    .current-player-name {
      font-weight: bold;
      color: #8c4b2f;
    }
  }

  .reset-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #8c4b2f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #65311c;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(108, 60, 42, 0.5);
    }
  }
}

